<!DOCTYPE html>
<html>
<head>
    <title>EJS Conditional Statements</title>
</head>
<body>
    <h1>Welcome, <%= user.name %>!</h1>
    <% if (user.loggedIn) { %>
        <p>You are logged in.</p>
    <% } else { %>
        <p>Please log in to continue.</p>
    <% } %>
    <% if (user.role === 'admin') { %>
        <p>You have admin privileges.</p>
    <% } else { %>
        <p>You are a regular user.</p>
    <% } %>
</body>
</html>